<div id="sidenav">
    <h2>PRODUKTER</h2>
    <nav id="sidenav">
        <ul>
            <li>
                <a href="#">ALLE</a>
            </li>
            <li>
                <a href="#">SHOON</a>
            </li>
            <li>
                <a href="#">KOREA SPECIAL</a>
            </li>
            <li>
                <a href="#">US. IMPORTS</a>
            </li>
            <li>
                <a href="#">SLEEK FABRIC UK</a>
            </li>
        </ul>
    </nav>
    <% sidebar.forEach((element)=>{ %>
        <div class="sidebarStuff">
            <h3>
                <%= element.title %>
            </h3>
            <p>
                <%= element.text %>
            </p>
            <p class="læsMere">LÆS MERE...</p>
        </div>
        <%})%>
</div>