<nav id="mainnav">
    <ul>
        <li>
            <a href="/">HJEM</a>
        </li>
        <li>
            <a href="/about">OM SLIPSEKNUDEN</a>
        </li>
        <li>
            <a href="/garanti">GARANTI</a>
        </li>
        <li>
            <a href="/kontakt">KONTAKT</a>
        </li>
        <li>
            <a href="/nyheder">NYHDER</a>
        </li>
        <li>
            <a href="/produkter">PRODUKTER</a>
        </li>
        <li>
            <input type="text">
        </li>
        <li>
            <a href="#">
                <img src="./img/SearchIcon.png">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./img/FacebookIcon.png">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./img/Twitter.png">
            </a>
        </li>
    </ul>
</nav>
<header>
    <a href="/"><img src="./img/logo.jpg"></a>
</header>