*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 10px;
}
nav ul{
    list-style: none;
}
#mainnav ul li{
    margin: 15px 0 10px 20px;
}
#mainnav ul{
    display:flex;
    background-color: black;
}
nav a{
    color:white;
    font-size: 18px;
    text-decoration: none;
}
nav input{
    margin-left: 40px;
}
nav img{
    height: 18px;
}
header img{
    margin-left: 15px;
}
#sidenav{
    width: 218px;
    margin-left: 20px;
}
#sidenav li{
    padding:30px 0 15px 30px;
    background-color: black;
    margin-bottom: 1px;
}
#sidenav a{
    display: block;
    height: 100%;
    width: 100%;
}
header img{
    margin-bottom: 42px;
}
#container h2{
    font-size: 16px;
    margin: 0 0 18px 58px;
}
#container nav a{
    font-size:10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.sidebarStuff{
    margin:70px 0 0 30px;
}
.sidebarStuff p{
    margin:16px 0 16px 0;
}
.læsMere{
    font-weight: bold;
}
main{
    flex-basis: 77%;
    display:flex;
    flex-wrap: wrap;
}
.frontpageProducts{
   flex-basis: 50%;
}
.infoBox{
    flex-basis: 100%;
}
.productText{
    margin-left: 120px;
}
.frontpageProducts:first-of-type .productText{
    margin-left: 143px;
}
.productText h3, .productText .læsMere{
    font-size: 14px;
}
.productText p:first-of-type{
    margin:17px 0 26px 0;
}
.info{
    text-align: center;
    width:120px;
    height: 26px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    line-height: 26px;
}
body{
    width:1040px;
    margin:auto;
}
#infoBox h3{
    font-size: 14px;
}
#infoBox p:first-of-type{
    margin:16px 0;
}