*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 10px;
}
nav ul{
    list-style: none;
}
#mainnav ul li{
    margin: 15px 0 10px 20px;
}
#mainnav ul{
    display:flex;
    background-color: black;
}
nav a{
    color:white;
    
    text-decoration: none;
}
#mainnav a{
    font-size: 18px;
}
nav input{
    margin-left: 40px;
}
nav img{
    height: 18px;
}
header img{
    margin-left: 15px;
}
#sidenav{
    width: 218px;
    margin-left: 20px;
}
#sidenav li{
    padding:30px 0 15px 30px;
    background-color: black;
    margin-bottom: 1px;
}
#sidenav a{
    display: block;
    height: 100%;
    width: 100%;
}
header img{
    margin-bottom: 42px;
}
#sidenav h2{
    font-size: 16px;
    margin: 0 0 18px 58px;
}
#container nav a{
    font-size:10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.sidebarStuff{
    margin:70px 0 0 30px;
}
.sidebarStuff p{
    margin:16px 0 16px 0;
}
.læsMere{
    font-weight: bold;
}
main{
    flex-basis: 77%;
    display:flex;
    flex-wrap: wrap;
}
.frontpageProducts{
   flex-basis: 50%;
}
.infoBox{
    flex-basis: 100%;
}
.productText{
    margin-left: 120px;
}
.frontpageProducts:first-of-type .productText{
    margin-left: 143px;
}
.productText h3, .productText .læsMere{
    font-size: 14px;
}
.productText p:first-of-type{
    margin:17px 0 26px 0;
}
.info{
    text-align: center;
    width:120px;
    height: 26px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
}
body{
    width:1040px;
    margin:auto;
}
#infoBox h3{
    font-size: 14px;
}
#infoBox p:first-of-type{
    margin:16px 0;
}
.sideBar{
    display:flex;
    flex-wrap: wrap;
    min-height: auto
}
.imgContainer img{
    width:100px;
    height: auto;
}
.sideBar p:first-of-type{
    margin-bottom:38px;
}
.sideBar .info{
    margin-left: 56px;
}
#about{
 margin-left: 100px;
}
#about img{
    margin-left: 220px;;
    width:310px;
}
.medarbejder img{
    width:100px;
    height: auto;
}
footer {
    margin:100px auto 20px ;
}
#medarbejder{
    display:flex;
    flex-wrap: wrap;
}
.medarbejder:first-of-type{
    flex-basis: 100%;
}
.medarbejder{
    margin-left: 100px;
    display: flex;
}
.medarbejder h4{
    margin:100px 0 10px 20px;
}
.medarbejder p{
    margin-left: 20px;
}
.sideBar:first-of-type{
    margin-top: 45px;
}
#infoBox{
    margin-left: 143px;
}
footer ul{
    display:flex;
    list-style: none;
}
footer li{
    margin-left: 37px;
}
#garanti{
    margin-left:110px;
}
#garanti h2 {
    font-size: 14px;
    margin-bottom: 19px;
}
#garanti>p{
margin-bottom: 40px;
}
#retur p{
    margin-bottom: 16px;
}
#garanti img{
    margin-left: 200px;
}
#kontaktform{
    margin-left: 95px;
    width: 225px;
}
.formdiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
#kontaktform input, #kontaktform textarea{
    width: 140px;
    border-radius: 10px;
    border:solid #8c8c8c 1px;
    background-color: #f6f6f6;
    height: 21px;
}
#kontaktform textarea{
    height: 140px;
    resize: none;
}
#kontakth2{
    padding-left: 125px;
    margin-bottom: 44px;
}
#kontakt{
    display: flex;
    flex-wrap: wrap;
}
#kontakt #map{
    margin: 75px 0 0 90px;
    width: 300px;
    height: 240px;
}
#kontakt #mainimg{
    height: 300px;
    margin-left: 115px;
}
.formdiv button{
    margin-left: 120px;
    padding:9px 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
}
#kontaktinfo p{
    text-align: right;
    margin-bottom: 20px;
}
#kontaktinfo{
    margin-top: 170px;
    width: 320px;
}
#nyhederh2{
    font-size: 16px;
}
.orange{
    color: #f88805;
    margin:22px 0 14px 0;
}
#nyheder{
    margin-left: 110px;
}
#nyheder img{
    margin-left: 290px;
}
.red{
    color: red;
    font-weight: bold;
}
#produkter{
    margin: 40px 0 0 100px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.produkt{
    width: 33%;
    display: flex;   
    flex-wrap: wrap; 
}
.produkterimg img{
    width: 100px;
    height: auto;
}
.produktinfo p:first-of-type{
margin-top: 15px;
}
.produktinfo .læsMere{
    margin: 30px 0 0 0;
}
.produkt .info{
    margin: 0 0 60px 40px;
}
.big{
    font-size: 18px;
}
.big:last-of-type{
    margin-top: 200px;
}