<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>produkt</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/topNavbar %>
        <div id="container">
            <% include ../partials/sideNavbar %>
                <main>
                    <div id="produkter">
                            <div class="produktet">
                                <p class="læsMere big">
                                    <%=produkt.title%>
                                </p>
                                <p>
                                    <%=produkt.color%>
                                </p>
                                <p class="læsMere big">PRIS: DKK
                                    <%=produkt.price%>,-</p>
                            </div>
                            <div class="produktensimg">
                                <img src="/img/<%=produkt.billede%>"> </div>
                        </div>
                </main>
        </div>
        <% include ../partials/footer %>

</body>

</html>